<div class="page-title">
    <h4>Categories</h4>
    <button class="waves-effect waves-light btn grey darken-1" [routerLink]="['/categories/new']">Add category</button>
</div>

<div class="row" *ngIf="categories">
    <div class="col s12">
        <div class="collection">
            <a 
            class="collection-item"
            *ngFor="let category of categories"
            >
            {{ category.name }}
        </a>
        </div>
    </div>
</div>

<app-loader [hidden] = "categories"></app-loader>